{:deps {cljfmt/cljfmt {:local/root "."}}
 :tasks
 {fmt  {:doc "Run cljfmt"
        :requires ([cljfmt.main :as fmt])
        :task (binding [fmt/*command* "bb fmt"]
                (apply fmt/-main *command-line-args*))}
  lint {:doc "Run clj-kondo"
        :task (shell "clj-kondo --lint cljfmt/src lein-cljfmt/src")}
  test {:doc "Run babashka tests"
        :extra-deps {eftest/eftest {:mvn/version "0.6.0"}}
        :extra-paths ["cljfmt/test"]
        :requires ([clojure.test :as t]
                   [cljfmt.core-test])
        :task (let [{:keys [fail error]} (t/run-tests 'cljfmt.core-test)]
                (when (or (pos? fail)
                          (pos? error))
                  (throw (ex-info "Tests failed" {:babashka/exit 1}))))}}}
