{alt!            [[:block 0]]
 alt!!           [[:block 0]]
 are             [[:block 1]]
 assoc           [[:block 1]]
 binding         [[:block 1]]
 bound-fn        [[:const]]
 case            [[:block 1]]
 catch           [[:block 2]]
 comment         [[:block 0]]
 condp           [[:block 2]]
 def             [[:const]]
 defmacro        [[:const]]
 defmethod       [[:const]]
 defmulti        [[:const]]
 defn            [[:const]]
 defn-           [[:const]]
 defprotocol     [[:block 1] [:backtrack 2]]
 defrecord       [[:block 2] [:backtrack 2]]
 defstruct       [[:block 1]]
 deftest         [[:const]]
 deftype         [[:block 2] [:backtrack 2]]
 do              [[:block 0]]
 doseq           [[:block 1]]
 dotimes         [[:block 1]]
 doto            [[:block 1]]
 extend          [[:block 1]]
 extend-protocol [[:block 1] [:backtrack 2]]
 extend-type     [[:block 1] [:backtrack 2]]
 finally         [[:block 0]]
 fn               [[:const]]
 for             [[:block 1]]
 future          [[:block 0]]
 go              [[:block 0]]
 go-loop         [[:block 1]]
 if              [[:block 1]]
 if-let          [[:block 1]]
 if-not          [[:block 1]]
 if-some         [[:block 1]]
 let             [[:block 1]]
 letfn           [[:block 1] [:backtrack 3]]
 locking         [[:block 1]]
 loop            [[:block 1]]
 ns              [[:block 1]]
 proxy           [[:block 2] [:backtrack 2]]
 reify           [[:const] [:backtrack 2]]
 struct-map      [[:block 1]]
 testing         [[:block 1]]
 thread          [[:block 0]]
 try             [[:block 0]]
 use-fixtures    [[:const]]
 when            [[:block 1]]
 when-first      [[:block 1]]
 when-let        [[:block 1]]
 when-not        [[:block 1]]
 when-some       [[:block 1]]
 while           [[:block 1]]
 with-local-vars [[:block 1]]
 with-open       [[:block 1]]
 with-precision  [[:block 1]]}
